/*
  * Grid layout is two dimensional, whereas
    flexbox is one dimensional.
*/

.grid-container {
  display: grid;
  /* Create 3 columns of 1 fraction each */
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, 200px);
  border: 1px solid black;
  margin: 200px;
  /* align-items: center; */
}

.cell {
  background-color: rgb(240, 149, 29, 0.4);
  padding: 25px;
  border: 2px solid rgb(240, 149, 29, 1);
}

.cell1 {
  grid-row: 1;
  grid-column: 1/3;
  /* align-self: center;
  justify-self: center; */
  /* Place self is a short hand property for align-self annd justify-content */
  place-self: center;
}
.cell2 {
  grid-row: 2/4;
  grid-column: 2;
}
.cell3 {
  grid-row: 3;
  /* Overlap cells */
  grid-column: 1/4;
}
