/* Main application nav bar */
.nav-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* App logo */
.logo {
  display: inline-block;
}

/* unordered list links style */
.nav-links {
  list-style: none;
  display: flex;
}

/* Nav links */
.nav-items a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  font-size: 1.1rem;
}

/* Bottom navigation select elements for dropdowns */
.bottomnav section {
  padding-bottom: 10px;
  background: linear-gradient(#fff, #fff);
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
