#first-p {
  font-weight: bold;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fineprint {
  font-size: 8px;
  font-family: 'Courier New', Courier, monospace;
}

p {
  color: #4320a1;
}

* {
  padding: 10px;
}
